@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	display: block;
	justify-content: center;
}
a{
	text-decoration: none;
}

.pre-header{
	width: 100%;
	height: 52px;
	background-color: #F1F1F1;
}
.pre-header p{
	display: inline-block;
	width: calc(100% - 40px);
	height: 22px;
	margin-top: 15px;
	margin-right: 20px;
	font-family: 'Lora', serif;
	color: var(--Dark-Gray, #939393);
	text-align: right;
	/* X-Small */
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 183.333% */
}
header{
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: row;
	flex-wrap: wrap;
	width: calc(100% - 80px);
	padding: 30px 40px;
	margin-left: auto;
	margin-right: auto;
}
main{
	display: flex;
	flex-direction: column;
	width: calc(100% - 80px);
	height: 364px;
	padding: 30px 40px;
	margin-left: auto;
	margin-right: auto;
}
nav{
	width: calc(100% - 130px);
	height: 24px;
	display: flex;
	padding-top: 6px;
	margin: 0;
	justify-content: right;
}
.logo{
	width: 130px;
	height: 37px;
}
.header_logo{
	display: flex;
	align-self: start;
	width: 100%;
	height: 67px;
	border-bottom: 3px inset #F1F1F1;
}
.topnav {
	display: flex;
	align-items: center;
	position: fixed;
	flex-direction: column;
	top: 0;
	left: -100%;
	width: 100%;
	background-color: white;
	transition: transform 0.5s; 
}
.topnav.active {
	transform: translateX(100%);
}
.menu-btn-cls{
	width: 100%;
	margin-top: 5px;
	margin-right: 20px;
	text-align: right;
	border-bottom: 2px solid #F1F1F1;
	color: var(--Black, #191919);
	/* Button Text */
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.07px;
}
.list{
	width: 100%;
	border-bottom: 2px solid #F1F1F1;
	color: var(--Black, #191919);
	text-align: center;
	/* Button Text */
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.07px;
}
.menu-btn{
	color: var(--Black, #191919);
	text-align: center;
	/* Button Text */
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.07px;
}
.column-1{
	width: 300px;
	height: 237px;
	flex-shrink: 0;
	margin-bottom: 10px;
}
h1{
	margin-bottom: 15px;
	color: var(--Black, #191919);
/* H6 */
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 46px; /* 127.778% */
}
h2{
	margin-bottom: 30px;
	color: var(--Black, #191919);
/* H6 */
	font-family: 'Poppins', sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px; /* 127.778% */
}
.head-content{
	color: var(--Davys-Gray, #595959);
	/* Discription */
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 162.5% */
}
.read-more{
	display: inline-flex;
	padding: 12px 36px;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: var(--Jordy-Blue, #52D0F0);
}
.read-more p{
	color: var(--White, #FFF);
	text-align: center;
	/* Button Text */
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.07px;
}
.column-2{
	display: flex;
	justify-self: center;
	justify-content: right;
	width: 220px;
	height: 235px;
	flex-shrink: 0;
}
.section{
	width: 100%;
	color: var(--Jordy-Blue, #52D0F0);
	align-self: start;
	text-align: center;
	/* Info Title 1 */
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px; /* 162.5% */
}
@media screen and (min-width: 600px){
	.column-1{
	margin-bottom: 0px;
}
	.menu-btn, .menu-btn-cls, .list{
		font-size: 14px;
	}
	.menu-btn, .menu-btn-cls{
		display: none;
	}
	.topnav {
		display: flex;
		justify-content: right;
		align-items: center;
		position: relative;
		flex-direction: row;
		background-color: white;
		transform: translateX(100%);
	}
	.list{
		width: auto;
		border-bottom: none;
		margin-left: 10px;
	}
}





